.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-child {
    flex: 1
}

button {
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-right: 5px;
    border: 2px solid #008489;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-light {
    color: #008489;
    background-color: white;
}

.button-dark {
    color: white;
    background-color: #008489;
}